# Django
SECRET_KEY=your-django-secret-key-here
DATABASE_URL=your-database-url-here #I've used supabase

# Redis (Upstash — use rediss:// with double s for TLS)
REDIS_URL=your-redis-url-here

# PayHere Credentials
# Found in PayHere Dashboard → Settings → Merchant → Domain & Credentials
PAYHERE_MERCHANT_ID=your-merchant-id
PAYHERE_MERCHANT_SECRET=your-merchant-secret

# PayHere App Credentials (for Merchant API — cancel/retry subscriptions)
# Found in PayHere Dashboard → Settings → Merchant → Apps
PAYHERE_APP_ID=your-app-id
PAYHERE_APP_SECRET=your-app-secret

# Sandbox or Production
PAYHERE_SANDBOX=true
PAYHERE_BASE_URL=https://sandbox.payhere.lk

# URLs PayHere uses to communicate back
# PAYHERE_NOTIFY_URL must be a public URL
PAYHERE_NOTIFY_URL=https://your-backend-url/api/payments/notify/

# PayHere redirects the user's browser to these after payment
PAYHERE_RETURN_URL=https://your-front-end-url/payment/return
PAYHERE_CANCEL_URL=https://your-front-end-url/payment/cancel
